# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [7]:
DATA_FOLDER = '../../ADA2017-Tutorials/02 - Intro to Pandas/Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [8]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn', Mutes warnings when copying a slice from a DataFrame.

In [9]:
import glob
pathSL = DATA_FOLDER + "/ebola/sl_data"
allFilesSL = glob.glob(pathSL + "/*.csv")
frameSL = pd.DataFrame()
listSL = []
for fileSL in allFilesSL:
    df = pd.read_csv(fileSL,index_col=None, header=0)
    listSL.append(df)
frameSL = pd.concat(listSL)

In [10]:
pathLI = DATA_FOLDER + "/ebola/liberia_data"
allFilesLI = glob.glob(pathLI + "/*.csv")
frameLI = pd.DataFrame()
listLI = []
for fileLI in allFilesLI:
    df = pd.read_csv(fileLI,index_col=None, header=0)
    listLI.append(df)
frameLI = pd.concat(listLI)

In [11]:
pathGU = DATA_FOLDER + "/ebola/guinea_data"
allFilesGU = glob.glob(pathGU + "/*.csv")
frameGU = pd.DataFrame()
listGU = []
for fileGU in allFilesGU:
    df = pd.read_csv(fileGU,index_col=None, header=0)
    listGU.append(df)
frameGU = pd.concat(listGU)

In [12]:
frameSL.rename(columns={'date':'Date', 'variable':'Variable'}, inplace=True)
frameLI['Date'] = pd.to_datetime(frameLI.Date)
frameGU.rename(columns={'Totals':'National','Description':'Variable' }, inplace=True)
frameGU = frameGU[['Date', 'Variable', 'National']] 
frameSL = frameSL[['Date', 'Variable', 'National']]
frameLI = frameLI[['Date', 'Variable', 'National']]
frameTmp = [frameGU, frameSL, frameLI]
frame = pd.concat(frameTmp, keys=['Guinea', 'Sierra Leone', 'Liberia'])
new = ['New cases of confirmed','New case/s \(confirmed\)']
deaths=['New deaths registered today \(confirmed\)','Total death/s in confirmed cases']
for newi in new:
    frame.Variable = frame.Variable.str.replace(newi, 'new_confirmed')
for deathi in deaths:
    frame.Variable = frame.Variable.str.replace(deathi, 'death_confirmed') 
PhilterList = ['new_confirmed', 'death_confirmed']
frame = frame.loc[frame['Variable'].isin(PhilterList)]
frame.dropna(thresh=1)  
frame

                                Date         Variable National
Guinea       2            2014-08-04    new_confirmed        4
             9            2014-08-04  death_confirmed        2
             2            2014-08-26    new_confirmed       10
             2            2014-08-27    new_confirmed       10
             2            2014-08-30    new_confirmed        9
             2            2014-08-31    new_confirmed       29
             2            2014-09-02    new_confirmed       14
             2            2014-09-04    new_confirmed       17
             2            2014-09-07    new_confirmed       11
             2            2014-09-08    new_confirmed       11
             2            2014-09-09    new_confirmed        7
             2            2014-09-11    new_confirmed       13
             2            2014-09-14    new_confirmed       14
             2            2014-09-16    new_confirmed        6
             2            2014-09-17    new_confirmed        6
             2            2014-09-19    new_confirmed       12
             2            2014-09-21    new_confirmed       17
             2            2014-09-22    new_confirmed       14
             2            2014-09-23    new_confirmed       25
             2            2014-09-24    new_confirmed       20
             2            2014-09-26    new_confirmed       10
             2            2014-09-30    new_confirmed       11
             2            2014-10-01    new_confirmed        6
Sierra Leone 4            2014-08-12    new_confirmed       11
             11           2014-08-12  death_confirmed      264
             4            2014-08-13    new_confirmed       15
             11           2014-08-13  death_confirmed      273
             4            2014-08-14    new_confirmed       13
             11           2014-08-14  death_confirmed      280
             4            2014-08-15    new_confirmed       10
...                              ...              ...      ...
Liberia      4   2014-11-24 00:00:00  death_confirmed      NaN
             25  2014-11-24 00:00:00    new_confirmed      NaN
             4   2014-11-26 00:00:00  death_confirmed      NaN
             25  2014-11-26 00:00:00    new_confirmed      NaN
             4   2014-11-27 00:00:00  death_confirmed      NaN
             25  2014-11-27 00:00:00    new_confirmed       12
             4   2014-11-28 00:00:00  death_confirmed      NaN
             25  2014-11-28 00:00:00    new_confirmed        7
             4   2014-11-29 00:00:00  death_confirmed      NaN
             25  2014-11-29 00:00:00    new_confirmed       10
             4   2014-11-30 00:00:00  death_confirmed      NaN
             25  2014-11-30 00:00:00    new_confirmed       10
             4   2014-12-01 00:00:00  death_confirmed      NaN
             25  2014-12-01 00:00:00    new_confirmed        1
             4   2014-12-02 00:00:00  death_confirmed      NaN
             25  2014-12-02 00:00:00    new_confirmed        9
             4   2014-12-03 00:00:00  death_confirmed      NaN
             25  2014-12-03 00:00:00    new_confirmed      NaN
             4   2014-12-04 00:00:00  death_confirmed      NaN
             25  2014-12-04 00:00:00    new_confirmed     2867
             4   2014-12-05 00:00:00  death_confirmed      NaN
             25  2014-12-05 00:00:00    new_confirmed     2867
             4   2014-12-06 00:00:00  death_confirmed      NaN
             25  2014-12-06 00:00:00    new_confirmed     2869
             4   2014-12-07 00:00:00  death_confirmed      NaN
             25  2014-12-07 00:00:00    new_confirmed     2869
             4   2014-12-08 00:00:00  death_confirmed      NaN
             25  2014-12-08 00:00:00    new_confirmed     2927
             4   2014-12-09 00:00:00  death_confirmed      NaN
             25  2014-12-09 00:00:00    new_confirmed     2946

[430 rows x 3 columns]

In [1]:
frame.Variable.unique()

NameError: name 'frame' is not defined

In [ ]:
frameGU.columns

In [ ]:
frameGU.Variable = frameGU.Variable.str.replace('New cases of confirmed','new_confirmed')
frameGU.Variable = frameGU.Variable.str.replace('New deaths registered today (confirmed)','death_confirmed')
frameLI.Variable = frameLI.Variable.str.replace('New case/s (confirmed)','new_confirmed')
frameLI.Variable = frameLI.Variable.str.replace('Total death/s in confirmed cases','death_confirmed')

In [ ]:
PhilterList = ['new_confirmed', 'death_confirmed']
frameSL = frameSL.loc[frameSL['Variable'].isin(PhilterList)]
frameLI = frameLI.loc[frameLI['Variable'].isin(PhilterList)]
frameGU = frameGU.loc[frameGU['Variable'].isin(PhilterList)]
frameGU = frameGU[['Date', 'Variable', 'National']]
frameGU

In [ ]:
frameSL.Variable.unique()

In [ ]:
frameLI.Variable.unique()

In [ ]:
frameLI.index = frameLI.Variable

In [ ]:
frameLI.loc['new_confirmed']

In [ ]:
frameSL.index = frameSL.Date
frameGU.index= frameGU.Date
frameLI.index = frameLI.Variable

In [ ]:
frameLI['Date'] = pd.to_datetime(frameLI.Date)
frameLI.index = frameLI.Date

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

ANSWER:
We first import all the spreadsheets in separate dataframes.

In [ ]:
import pandas as pd

mbs = []
for i in range(1,10):
    temp = pd.read_excel(DATA_FOLDER+'/microbiome/MID'+str(i)+'.xls', sheetname='Sheet 1', header=None)
    temp.columns = ['name', 'MID'+str(i)] # Using file name as column name for easier merging
    mbs.append(temp)
   
    
metadata = pd.read_excel(DATA_FOLDER+'/microbiome/metadata.xls', sheetname='Sheet1')

we verify that the name column is a unique index for all the MID data and set this column as the index

In [ ]:
mbs_ind = []
doublons = False
for i in range(1,10):
    mbs_ind.append(mbs[i-1].set_index(['name']))
    if mbs_ind[i-1].index.is_unique:
        mbs[i-1] = mbs_ind[i-1]
    else:
        print("Table " + i + " contains doublons")
        doublons = True

if not doublons:
    print("Tables are indexed by the column name")

So we can merge the MID tables using pandas' merge fucntion

In [ ]:
import functools as ft
mbs_merged = ft.reduce(lambda left,right: pd.merge(left,right,left_index=True, right_index=True, how='outer'), mbs)
mbs_merged.head()

now, we use the metadata file to have meaningfull headers for our data

In [ ]:
metadata

we start be reordering the columns according to the metadata

In [ ]:
mbs_order = mbs_merged[metadata.BARCODE]
mbs_order.head()

we split the table in two because the first column is 'EXTRACTION CONTROL' and does not have different types (tissue or stools)

In [ ]:
mbs_part1 = mbs_order.iloc[:, :1]
mbs_part2 = mbs_order.iloc[:, 1:]
mbs_part2.head()

we create the 2-levels index according to the metadata.

In [ ]:
header = pd.MultiIndex.from_product([['NEC1','control1','NEC2','control2'],
                                     ['tissue','stool']],
                                    names=['Test','Type'])
mbs_part2.columns = header

mbs_part1.columns = pd.MultiIndex.from_product([['EXTRACTION CONTROL'],['']])

merge again all the columns together

In [ ]:
mbs_nans = pd.merge(mbs_part1,mbs_part2,left_index=True, right_index=True, how='outer')
mbs_nans.head()

We first check the required invariants on index and dtypes, because it is easier before replacing NaNs by "unknown". Then we perform the replacement.

In [ ]:
from numpy import issubdtype, number
print('Index are unique:', mbs_nans.index.is_unique)
print('All entries are either a number or nan:', issubdtype(mbs_nans.dtypes.all(), number))
mbs_final = mbs_nans.fillna("unknown")

We print the result:

In [ ]:
mbs_final

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here