In [7]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

The following URL returns a JSON file with the University rankink already parsed:

In [57]:
SITE = "https://www.topuniversities.com"
URL = SITE+"/sites/default/files/qs-rankings-data/357051.txt"

In [59]:
N = 5
r = requests.get(URL)
all_data = r.json()
print(list(all_data.keys()))
data = all_data.get("data")[:N]
print(list(data[0].keys()))

['data']
['nid', 'logo', 'stars', 'core_id', 'score', 'region', 'title', 'cc', 'country', 'rank_display', 'url', 'guide']

In [73]:
s = requests.Session()
print("")
reqs = [(entry, s.prepare_request(requests.Request('GET', SITE+entry["url"]))) for entry in data]
print(len(reqs), "requests to be sent.")

resps = [(entry, s.send(req)) for entry, req in reqs]

done = [(entry, resp) for entry, resp in resps if resp.status_code == 200]
failed = [(entry, resp) for entry, resp in resps if resp.status_code != 200]

print("%d done, %d failed." % (len(done), len(failed)))

5 requests to be sent.
5 done, 0 failed.

In [ ]:
def

In [52]:
uni = pd.DataFrame(data, columns=["title", "rank_display", "country", "region", "url"])
uni.rename(columns={"title":"name", "rank_display": "rank"},inplace=True)

In [53]:
# Convert the rank to a numerical type
uni["rank"] = uni["rank"].str.extract('(\d+)', expand=False).astype(int)
uni.head()

,name,rank,country,region,url
0,Massachusetts Institute of Technology (MIT),1,United States,North America,/universities/massachusetts-institute-technolo...
1,Stanford University,2,United States,North America,/universities/stanford-university
2,Harvard University,3,United States,North America,/universities/harvard-university
3,California Institute of Technology (Caltech),4,United States,North America,/universities/california-institute-technology-...
4,University of Cambridge,5,United Kingdom,Europe,/universities/university-cambridge