In [2]:
import json
import sys
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
sns.set(style="whitegrid")
%matplotlib inline

In [4]:
battles = json.load(open("../datasets/battle-fields-0.json"))
df = pd.DataFrame([b["infobox"] for b in battles if not b["infobox"].get("error")])
df['casualties1'].head()

0                                                   \n
1                         ~230 (according to Caesar)\n
2                                            Minimal\n
3                       1,066 dead,<br>2,597 wounded\n
4    '''12,484'''<br />4,542 killed<br />7,942 woun...
Name: casualties1, dtype: object

In [10]:
pattern = re.compile("^([A-Z][0-9]+)+$")
pattern.match(string)
df1 = df[[b for b in df.columns if '^casualties[0-9]' in b]]
df1

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[7486 rows x 0 columns]