In [2]:
import pandas as pd
import json
import json, pprint, re, datetime
import mwparserfromhell as mw
import re
import calendar
from daterangeparser import parse
%load_ext autoreload
%autoreload 2
import processing # this makes the "processing" folder available as a python module
from features.date import get_daterange
from features.coordinates import get_coordinates
from features.country import get_country
from dateutil import parser
import numpy as np
from geograpy import extraction

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

ImportError: No module named 'geograpy'

In [283]:
data= "../datasets/battle-fields-0.json"
battles = json.load(open(data))

dates = [b["infobox"]["date"] for b in battles if b["infobox"].get("date") != None]
coordinates = [b["infobox"]["coordinates"] for b in battles if b["infobox"].get("coordinates") != None]
coordinates = [c for c in coordinates if c !='\n']
coordinates = [c for c in coordinates if c !=' \n']
places = [b["infobox"]["place"] for b in battles if b["infobox"].get("place") != None]

In [5]:
parsed_dates = [get_daterange(d) for d in dates]
df = pd.DataFrame(parsed_dates)
df

,BC,end,source,start
0,no,1644-09-02 00:00:00,13 August – 2 September 1644,1644-08-13 00:00:00
1,yes,None,9 August 48,0048-08-09 00:00:00
2,no,None,19 September 1356,1356-09-19 00:00:00
3,no,None,23 May 1706,1706-05-23 00:00:00
4,no,None,13 August 1704,1704-08-13 00:00:00
5,no,1944-11-27 00:00:00,15 September – 27 November 1944,1944-09-15 00:00:00
6,yes,None,August/September ([[Attic calendar|Metageitni...,0490-08-01
7,no,None,"September 17, 1462",1462-09-17 00:00:00
8,no,None,25 October 1415,1415-10-25 00:00:00
9,no,None,22 August 1485,1485-08-22 00:00:00
10,no,None,"July or August, 251\n",0251-07-01
11,no,1651-06-30 00:00:00,28–30 June 1651,1651-06-28 00:00:00
12,no,1943-02-02 00:00:00,23 August 1942 – 2 February 1943,1942-08-23 00:00:00
13,no,None,27 July 1214,1214-07-27 00:00:00
14,no,1863-07-03 00:00:00,"July 1–3, 1863",1863-07-01 00:00:00
15,yes,None,2 September 31,0031-09-02 00:00:00
16,no,1798-08-03 00:00:00,1–3 August 1798,1798-08-01 00:00:00
17,no,None,18 June 1815,1815-06-18 00:00:00
18,no,None,1 March 1896,1896-03-01 00:00:00
19,no,1942-07-27 00:00:00,1–27 July 1942,1942-07-01 00:00:00
20,no,1916-06-01 00:00:00,31 May – 1 June 1916,1916-05-31 00:00:00
21,no,None,13 December 1939,1939-12-13 00:00:00
22,no,None,"10 August 955<ref>Bowlus, p. 1</ref>\n",0955-08-01
23,no,None,29 August 1526,1526-08-29 00:00:00
24,no,None,"August 16, 1777",1777-08-16 00:00:00
25,no,1945-06-22 00:00:00,"April 1 – June 22, 1945",1945-04-01 00:00:00
26,no,1944-05-18 00:00:00,17 January – 18 May 1944,1944-01-17 00:00:00
27,no,1942-11-11 00:00:00,23 October – 11 November 1942,1942-10-23 00:00:00
28,no,None,"August 15, 1812",1812-08-15 00:00:00
29,no,None,"19 September – 16 December 1944<ref name=""Zab...",1537-09-01
...,...,...,...,...
7449,no,1464-09-30 00:00:00,July–September 1464,1464-07-01 00:00:00
7450,no,1835-06-27 00:00:00,26-27 june 1835,1835-06-26 00:00:00
7451,no,None,{{date|22-24 July 1830}}<ref>Histoire de l'ar...,None
7452,no,None,5 April 1900,1900-04-05 00:00:00
7453,no,None,{{date|17–25 November 1830}}<ref>Histoire de ...,None
7454,no,1842-04-12 00:00:00,11-12 April 1842,1842-04-11 00:00:00
7455,no,None,Summer 1649\n,1649-01-01
7456,no,1957-08-12 00:00:00,4-12 august 1957,1957-08-04 00:00:00
7457,no,1918-08-31 00:00:00,30–31 August 1918,1918-08-30 00:00:00
7458,no,None,634 AD\n,0634-01-01
7459,no,1943-02-02 00:00:00,23 August 1942 – 2 February 1943,1942-08-23 00:00:00
7460,no,2017-10-14 00:00:00,6 October 2017 - 14 October 2017,2017-10-06 00:00:00
7461,no,None,15th November 1976,1976-11-15 00:00:00
7462,NaN,NaN,\n,NaN
7463,no,1559-02-28 00:00:00,January-February 1559,1559-01-01 00:00:00
7464,no,None,November 968 – October 28 969\n,0969-11-01
7465,no,1444-09-18 00:00:00,10 August – 18 September 1444,1444-08-10 00:00:00
7466,no,None,[[9 November]] [[1792]] \n,1792-11-01
7467,no,None,"January–March, 637\n",0637-01-01
7468,no,1594-07-22 00:00:00,"May 19 - July 22, 1594",1594-05-19 00:00:00
7469,no,1915-01-26 00:00:00,25–26 January 1915,1915-01-25 00:00:00
7470,no,None,13 May 634\n,0634-05-01
7471,no,None,636 AD\n,0636-01-01
7472,no,None,7 October 1795,1795-10-07 00:00:00
7473,no,None,28 to 30 or 31 May 1958\n,1958-05-01
7474,no,2017-10-20 00:00:00,15–20 October 2017,2017-10-15 00:00:00
7475,no,None,17 January 1642,1642-01-17 00:00:00
7476,no,None,May 640 – December 640\n,0640-05-01
7477,no,2017-11-03 00:00:00,14 September 2017 – 3 November 2017,2017-09-14 00:00:00
7478,no,2017-07-20 00:00:00,16 October 2016 – 20 July 2017,2016-10-16 00:00:00

In [280]:
parsed_coordinates = [get_coordinates(c) for c in coordinates]
co = pd.DataFrame(parsed_coordinates)
co

       latitude   longitude                                             source
0     50.408000   -4.667000  {{Coord|50.408|-4.667|display=inline,title|reg...
1     46.530000    0.400000  {{Coord|46.53|0.4|type:event|display=inline,ti...
2     48.633333   10.633333  {{coord|48|38|0|N|10|38|0|E|region:DE_type:eve...
3      7.000000  134.250000  {{coord|7|00|N|134|15|E|region:PW_type:event|d...
4     38.118056   23.978333  {{Coord|38|07|05|N|23|58|42|E|region:GR_type:e...
5     50.463611    2.141667  {{Coord|50|27|49|N|2|8|30|E|region:FR-62_type:...
6     50.350000   25.116667  {{coord|50|21|0|N|25|7|0|E|display=inline,title}}
7     48.700000   44.516667  {{Coord|48|42|N|44|31|E|source:nowiki_region:R...
8     39.811000  -77.225000  {{Coord|39.811|N|77.225|W|type:event_region:US...
9     38.934444   20.738611  {{Coord|38|56|04|N|20|44|19|E|region:GR_type:e...
10    50.680000    4.412000  {{Coord|50.680|N| 4.412|E|region:BE_type:event...
11    56.700000    5.866667  {{Coord|56|42|N|5|52|E|type:event_region:DK|di...
12    42.938611   73.304444  {{Coord|42|56|19|N|73|18|16|W|type:city_scale:...
13    26.500000  128.000000  {{coord|26.5|128|type:isle_region:JP-46_source...
14    41.483333   13.816667  {{coord|41|29|N|13|49|E|region:IT_type:event|d...
15    56.131705   -3.932590  {{coord|56.1317046|-3.9325905|format=dms|type:...
16    36.290000    6.260000  {{Coord|36.29|N|6.26|W|type:event_source:place...
17    38.299500  -77.470500  {{coord|38.2995|-77.4705|region:US_type:event|...
18    37.951389   23.566667  {{Coord|37|57|5|N|23|34|0|E|display=inline,tit...
19    38.316400  -77.759700  {{Coord|38.3164|N|77.7597|W|format=dms|region:...
20    50.900278    3.021111  {{coord|50|54|1|N|3|1|16|E|type:city|name=Pass...
21    37.590000  -77.285000  {{Coord|37.59|N|77.285|W|format=dms|region:US-...
22    38.224200  -77.598100  {{Coord|38.2242|N|77.5981|W|format=dms|region:...
23    38.310500  -77.648400  {{Coord|38.3105|N|77.6484|W|type:event_region:...
24    53.035000   -0.888000  {{coord|53.035|-0.888|type:event_region:GB|dis...
25    52.105873   -1.944537  {{coord|52.1058726|-1.9445372|format=dms|type:...
26    38.812460  -77.521310  {{Coord|38.81246|-77.52131|format=dms|region:U...
27    34.566333  130.151000  {{Coord|34|33.98|N|130|9.06|E|type:event|displ...
28    50.257000    1.904000  {{coord|50.257|1.904|type:event_region:FR-80|d...
29    49.208056    5.421944  {{coord|49|12|29|N|5|25|19|E|region:FR_type:ev...
...         ...         ...                                                ...
1207        NaN         NaN     {{Coord|08|32|N|34|48|E|display=INLINE,title}}
1208  41.677100   26.555440  {{coord|41.6771|N|26.55544|E|type:event|displa...
1209  52.451164   -2.152772  {{coord|52.451164|-2.152772|type:event_region:...
1210  47.616700   17.250000  {{coord|47.6167|17.2500|region:HU|display=inli...
1211  33.560556   35.398056  {{coord|33|33|38|N|35|23|53|E|region:LB|displa...
1212   4.750556   74.434722  {{coord|4|45|02|N|74|26|05|W|display=inline,ti...
1213  36.000000    2.000000           {{coord|36|2|type:event|display=inline}}
1214  29.316667   27.600000  {{Coord|29|19|0|S|27|36|0|E|type:landmark|disp...
1215  43.666667    0.000000  {{Coord|43|40|N|25|40|E |region:RU_type:event ...
1216  11.195000  106.617000        {{Coord|11.195|N|106.617|E|display=inline}}
1217  33.310000   26.526667  {{coord|33|18|36|S|26|31|36|E|region:ZA|displa...
1218  44.916667    8.616667     {{coord|44|55|N|08|37|E|display=inline,title}}
1219  11.525000  106.532000        {{Coord|11.525|N|106.532|E|display=inline}}
1220  46.007778    0.000000  {{Coord|46|00|28|N|5|25|31|E |region:FR_type:e...
1221  44.700000   11.800000  {{coord|44|42|N|11|48|E|region:IT_type:event |...
1222        NaN         NaN                {{coord|43.66|10.63|display=title}}
1223  36.811667   42.066389  {{coord|36.811667|42.066389|type:event|display...
1224        NaN         NaN    {{Coord|-9.0334205|147.7372547|display=inline}}
1225        NaN         NaN    {{Coord|-9.0334205|147.7372547|display=inline}}
1226  40.675278   42.742222     {{coord|40|40|31|N|42|44|32|E|display=inline}}
1227  48.616667    0.000000                           {{coord|48|37|N|7|43|E}}
1228  46.500000    8.300000      {{coord|46|30|N|8|18|E|display=inline,title}}
1229        NaN         NaN  {{coord|31|35|N|47|10|E|region:IQ_type:city_so...
1230   0.000000    0.000000                                        10.83,78.85
1231        NaN         NaN                {{coord|8.0106|124.2977|region:PH}}
1232  49.454167    8.379444       {{Coord|49|27|15|N|8|22|46|E|display=title}}
1233  52.685556    1.830556  {{coord|52|41|08|N|1|49|50|W|region:GB|format=...
1234  52.188889    2.220833  {{coord|52|11|20|N|2|13|15|W|region:GB|format=...
1235  36.698043    3.732522  {{Coord|36.6980434|N|3.7325224|E|type:city|dis...
1236  35.749167    1.547778                             N 35°44′57″ E 1°32′52″

[1237 rows x 3 columns]

In [282]:
float('08')

8.0

In [293]:
parsed_country = [get_country(p) for p in places]
country = pd.DataFrame(parsed_country)
country

                                                 source
0                near [[Lostwithiel]] in [[Cornwall]]\n
1                [[Farsala|Palaeopharsalos]] (Greece)\n
2                       Near [[Poitiers]], [[France]]\n
3     [[Ramillies, Belgium|Ramillies]], present-day ...
4      [[Blindheim]] (Engl.: Blenheim),<ref>The vill...
5                      [[Peleliu]], [[Palau Islands]]\n
6                                [[Marathon, Greece]]\n
7                        Near [[Krokowa]], [[Poland]]\n
8            [[Azincourt]], [[Pas-de-Calais]], France\n
9      Near [[Ambion Hill]], south of [[Market Boswo...
10    Abritus, [[Moesia Inferior]]<br/><small>(moder...
11     [[Berestechko]], [[Crown of the Kingdom of Po...
12     [[Volgograd|Stalingrad]], [[Russian Soviet Fe...
13    [[Bouvines]], [[County of Flanders]], [[Kingdo...
14     [[Gettysburg, Pennsylvania|Gettysburg]], [[Ad...
15     [[Ionian sea]], near the promontory of [[Acti...
16    [[Abu Qir Bay|Aboukir Bay]], [[Egypt Eyalet|Eg...
17     [[Waterloo, Belgium|Waterloo]], then [[United...
18    {{Coord|14|1|8|N|38|58|24|E|display=title|name...
19                              [[El Alamein]], Egypt\n
20                    [[North Sea]], near [[Denmark]]\n
21     Off the [[Río de la Plata|River Plate]] estua...
22     Lechfeld plain, near [[Augsburg]], [[Bavaria]]\n
23    [[Mohács]], [[Kingdom of Hungary in the Middle...
24    [[Walloomsac, New York|Walloomsac]], Town of [...
25    [[Okinawa Island|Okinawa]],\n [[Ryukyu Islands...
26                       [[Monte Cassino]], [[Italy]]\n
27         [[El Alamein]], [[Kingdom of Egypt|Egypt]]\n
28              Present-day [[Chicago]], [[Illinois]]\n
29     {{coord|50|42|31|N|6|21|46|E|type:event|displ...
...                                                 ...
7456   [[Jajce Fortress]], [[Kingdom of Hungary (130...
7457                [[Sig, Algeria|Sig]], [[Algeria]]\n
7458                           [[Blida]], [[Algeria]]\n
7459                                       [[Boshof]]\n
7460   [[Blida]] and [[Médéa]], [[Algeria]]<ref>L'Al...
7461             [[Béni Mered]],[[Blida]] [[Algeria]]\n
7462   [[Dublin]], [[County Dublin]], [[Kingdom of I...
7463                [[Bouzegza Keddara]], [[Algeria]]\n
7464   Lioma, [[Portuguese East Africa]] (present-da...
7465  [[Kashkar]], [[Asuristan]] (modern day [[Iraq]...
7466                            Western [[Black Sea]]\n
7467                                      [[Mayadin]]\n
7468                       [[Honde Valley]], Rhodesia\n
7469    [[Kalâa of Ait Abbas]],[[Bejaia]] [[Algeria]]\n
7470    [[Kalâa of Ait Abbas]],[[Bejaia]] [[Algeria]]\n
7471                [[Antioch]], [[Hamdanid Dynasty]]\n
7472                                       [[Rhodes]]\n
7473                         [[Limburg an der Lahn]] \n
7474                          [[Ctesiphon]], [[Iraq]]\n
7475  Province of [[Groningen]]<br>Present day the [...
7476                               Mbombwe, Nyasaland\n
7477                            [[Babylon]], [[Iraq]]\n
7478                            [[Babylon]], [[Iraq]]\n
7479            off [[Cape St Vincent]], [[Portugal]]\n
7480           [[Ouarsenis]], [[Lardjem]] [[Algeria]]\n
7481                 [[Kirkuk Governorate]], [[Iraq]]\n
7482   [[Kempen, Germany|Kempen]], present-day [[Ger...
7483                  [[Babylon Fortress]], [[Egypt]]\n
7484   [[Deir ez-Zor]], [[Deir ez-Zor Governorate]],...
7485   Northern [[Iraq]]\n* Southwest [[Erbil Govern...

[7486 rows x 1 columns]