In [12]:
import pandas as pd
import json
import json, pprint, re, datetime
import mwparserfromhell as mw
import re
import calendar
from daterangeparser import parse
%load_ext autoreload
%autoreload 2
import processing # this makes the "processing" folder available as a python module
from features.date import get_daterange

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [184]:
data= "../datasets/battle-fields-0.json"
df= pd.read_json(data)
df['start_day']='empty'
df['start_month']='empty'
df['start_year']='empty'
df['end_day']='empty'
df['end_month']='empty'
df['end_year']='empty'

In [42]:
data= "../datasets/battle-fields-0.json"
battles = json.load(open(data))

dates = [b["infobox"]["date"] for b in battles if b["infobox"].get("date") != None]
wi = mw.parse(dates[3])

parsed_dates = [get_daterange(d) for d in dates[:100]]

In [43]:
df = pd.DataFrame(parsed_dates)
df

,end,source,start
0,1644-09-02 00:00:00,13 August – 2 September 1644,1644-08-13 00:00:00
1,NaN,9 August 48 BC,NaN
2,None,19 September 1356,1356-09-19 00:00:00
3,NaN,23 May 1706<ref>All dates in the article are i...,NaN
4,NaN,"13 August 1704<ref name=""NewStyle"">All dates i...",NaN
5,1944-11-27 00:00:00,15 September – 27 November 1944,1944-09-15 00:00:00
6,NaN,August/September ([[Attic calendar|Metageitnio...,NaN
7,None,"September 17, 1462",1462-09-17 00:00:00
8,NaN,25 October 1415 ([[Saint Crispin's Day]]),NaN
9,None,22 August 1485,1485-08-22 00:00:00
10,NaN,"July or August, 251",NaN
11,1651-06-30 00:00:00,28–30 June 1651,1651-06-28 00:00:00
12,NaN,23 August 1942 – 2 February 1943<br />({{Age i...,NaN
13,None,27 July 1214,1214-07-27 00:00:00
14,1863-07-03 00:00:00,"July 1–3, 1863",1863-07-01 00:00:00
15,NaN,2 September 31 BC,NaN
16,1798-08-03 00:00:00,1–3 August 1798,1798-08-01 00:00:00
17,None,18 June 1815,1815-06-18 00:00:00
18,None,1 March 1896,1896-03-01 00:00:00
19,1942-07-27 00:00:00,1–27 July 1942,1942-07-01 00:00:00
20,1916-06-01 00:00:00,31 May – 1 June 1916,1916-05-31 00:00:00
21,None,13 December 1939,1939-12-13 00:00:00
22,NaN,"10 August 955<ref>Bowlus, p. 1</ref>",NaN
23,None,29 August 1526,1526-08-29 00:00:00
24,None,"August 16, 1777",1777-08-16 00:00:00
25,NaN,"April 1 – June 22, 1945<ref>{{cite web|url=htt...",NaN
26,NaN,17 January – 18 May 1944<br>123 days,NaN
27,1942-11-11 00:00:00,23 October – 11 November 1942,1942-10-23 00:00:00
28,None,"August 15, 1812",1812-08-15 00:00:00
29,NaN,"19 September – 16 December 1944<ref name=""Zabe...",NaN
...,...,...,...
70,NaN,10 or 11 August 991,NaN
71,NaN,"Unknown, ''circa'' 500",NaN
72,1914-08-30 00:00:00,26–30 August 1914,1914-08-26 00:00:00
73,None,16 April 1746,1746-04-16 00:00:00
74,NaN,"December 12, 627",NaN
75,NaN,12 October 1428 – 8 May 1429<br>({{Age in year...,NaN
76,NaN,"1267&ndash;14 March 1273<ref name=""warpolsoc""/>",NaN
77,NaN,{{Start date|1864|6|10}},NaN
78,NaN,16 December 1944&nbsp;– 25 January 1945,NaN
79,1945-03-26 00:00:00,19 February – 26 March 1945,1945-02-19 00:00:00
80,None,25 September 1066,1066-09-25 00:00:00
81,NaN,1 July 1690 [[Old Style and New Style dates|O....,NaN
82,1937-12-13 00:00:00,"December 1–13, 1937",1937-12-01 00:00:00
83,NaN,"13 March&nbsp;– 7 May 1954<br>({{Age in years,...",NaN
84,None,2 July 1644,1644-07-02 00:00:00
85,None,3 September 1651,1651-09-03 00:00:00
86,None,26 February 1266,1266-02-26 00:00:00
87,NaN,"October 3 and 23, 42 BC",NaN
88,None,25 April 1707,1707-04-25 00:00:00
89,None,19 March 1279,1279-03-19 00:00:00
90,NaN,10 July&nbsp;– 31 October 1940{{refn|The Briti...,NaN
91,1940-06-04 00:00:00,26 May – 4 June 1940,1940-05-26 00:00:00
92,1916-11-18 00:00:00,1 July – 18 November 1916,1916-07-01 00:00:00
93,NaN,577,NaN
94,NaN,6 July 371 BC<ref>[http://www.strategikon.com/...,NaN
95,1879-01-23 00:00:00,22–23 January 1879,1879-01-22 00:00:00
96,NaN,"June 9, 1864 – March 25, 1865<br/>({{Age in ye...",NaN
97,NaN,197 BC,NaN
98,1942-06-07 00:00:00,4–7 June 1942,1942-06-04 00:00:00
99,None,"February 17th, 1500",1500-02-17 00:00:00

                    end                           source                start
0   1644-09-02 00:00:00     13 August – 2 September 1644  1644-08-13 00:00:00
1                   NaN                              NaN                  NaN
2                  None                19 September 1356  1356-09-19 00:00:00
3                   NaN                              NaN                  NaN
4                   NaN                              NaN                  NaN
5   1944-11-27 00:00:00  15 September – 27 November 1944  1944-09-15 00:00:00
6                   NaN                              NaN                  NaN
7                  None               September 17, 1462  1462-09-17 00:00:00
8                   NaN                              NaN                  NaN
9                  None                   22 August 1485  1485-08-22 00:00:00
10                  NaN                              NaN                  NaN
11  1651-06-30 00:00:00                  28–30 June 1651  1651-06-28 00:00:00
12                  NaN                              NaN                  NaN
13                 None                     27 July 1214  1214-07-27 00:00:00
14  1863-07-03 00:00:00                   July 1–3, 1863  1863-07-01 00:00:00
15                  NaN                              NaN                  NaN
16  1798-08-03 00:00:00                  1–3 August 1798  1798-08-01 00:00:00
17                 None                     18 June 1815  1815-06-18 00:00:00
18                 None                     1 March 1896  1896-03-01 00:00:00
19  1942-07-27 00:00:00                   1–27 July 1942  1942-07-01 00:00:00
20  1916-06-01 00:00:00             31 May – 1 June 1916  1916-05-31 00:00:00
21                 None                 13 December 1939  1939-12-13 00:00:00
22                  NaN                              NaN                  NaN
23                 None                   29 August 1526  1526-08-29 00:00:00
24                 None                  August 16, 1777  1777-08-16 00:00:00
25                  NaN                              NaN                  NaN
26                  NaN                              NaN                  NaN
27  1942-11-11 00:00:00    23 October – 11 November 1942  1942-10-23 00:00:00
28                 None                  August 15, 1812  1812-08-15 00:00:00
29                  NaN                              NaN                  NaN
..                  ...                              ...                  ...
70                  NaN                              NaN                  NaN
71                  NaN                              NaN                  NaN
72  1914-08-30 00:00:00                26–30 August 1914  1914-08-26 00:00:00
73                 None                    16 April 1746  1746-04-16 00:00:00
74                  NaN                              NaN                  NaN
75                  NaN                              NaN                  NaN
76                  NaN                              NaN                  NaN
77                  NaN                              NaN                  NaN
78                  NaN                              NaN                  NaN
79  1945-03-26 00:00:00      19 February – 26 March 1945  1945-02-19 00:00:00
80                 None                25 September 1066  1066-09-25 00:00:00
81                  NaN                              NaN                  NaN
82  1937-12-13 00:00:00              December 1–13, 1937  1937-12-01 00:00:00
83                  NaN                              NaN                  NaN
84                 None                      2 July 1644  1644-07-02 00:00:00
85                 None                 3 September 1651  1651-09-03 00:00:00
86                 None                 26 February 1266  1266-02-26 00:00:00
87                  NaN                              NaN                  NaN
88                 None                    25 April 1707  1707-04-25 00:00:00
89                 None                    19 March 1279  1279-03-19 00:00:00
90                  NaN                              NaN                  NaN
91  1940-06-04 00:00:00             26 May – 4 June 1940  1940-05-26 00:00:00
92  1916-11-18 00:00:00        1 July – 18 November 1916  1916-07-01 00:00:00
93                  NaN                              NaN                  NaN
94                  NaN                              NaN                  NaN
95  1879-01-23 00:00:00               22–23 January 1879  1879-01-22 00:00:00
96                  NaN                              NaN                  NaN
97                  NaN                              NaN                  NaN
98  1942-06-07 00:00:00                    4–7 June 1942  1942-06-04 00:00:00
99                 None              February 17th, 1500  1500-02-17 00:00:00

[100 rows x 3 columns]

In [289]:

for i in range(5406,len(df['start_day'])):
    if 'error' in df.infobox[i]:
        df.start_day[i]='noinfo'
        df.end_day[i]='noinfo'
        df.start_month[i]='noinfo'
        df.end_month[i]='noinfo'
        df.start_year[i]='noinfo'
        df.end_year[i]='noinfo'
    elif 'date' not in df.infobox[i].keys():
        df.start_day[i]='nodate'
        df.end_day[i]='nodate'
        df.start_month[i]='nodate'
        df.end_month[i]='nodate'
        df.start_year[i]='nodate'
        df.end_year[i]='nodate'
    elif re.search('\sBC\s',df.infobox[i]['date']):
        if re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\sBC',df.infobox[i]['date']):
            df.start_day[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\sBC',df.infobox[i]['date']).group(1))
            month=re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\sBC',df.infobox[i]['date']).group(2)
            df.start_month[i]=datetime.datetime.strptime(month[:3], '%b').month
            df.start_year[i]=-int(re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\sBC',df.infobox[i]['date']).group(3))
            df.end_day[i]=df.start_day[i]
            df.end_month[i]=df.start_month[i]
            df.end_year[i]=df.start_year[i]
        if re.search('(\w{3,9}),\s(\d{1,4})\sBC',df.infobox[i]['date']):
            df.start_day[i]=0
            month=re.search('(\w{3,9}),\s(\d{1,4})\sBC',df.infobox[i]['date']).group(1)
            df.start_month[i]=datetime.datetime.strptime(month[:3], '%b').month
            df.start_year[i]=-int(re.search('(\w{3,9}),\s(\d{1,4})\sBC',df.infobox[i]['date']).group(2))
            df.end_day[i]=df.start_day[i]
            df.end_month[i]=df.start_month[i]
            df.end_year[i]=df.start_year[i]
        elif re.search('(\w{3,9})\s(\d{1,2})\sand\s\d{1,2},\s(\d{1,4})\sBC',df.infobox[i]['date']):
            df.start_day[i]=int(re.search('(\w{3,9})\s(\d{1,2})\sand\s\d{1,2},\s(\d{1,4})\sBC',df.infobox[i]['date']).group(2))
            stmonth=re.search('(\w{3,9})\s(\d{1,2})\sand\s\d{1,2},\s(\d{1,4})\sBC',df.infobox[i]['date']).group(1)
            df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
            df.start_year[i]=-int(re.search('(\w{3,9})\s(\d{1,2})\sand\s\d{1,2},\s(\d{1,4})\sBC',df.infobox[i]['date']).group(3))
            df.end_day[i]=df.start_day[i]
            enmonth=stmonth
            df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
            df.end_year[i]=df.start_year[i]
        elif re.search('^(\w{3,9})/(\w{3,9})\s.*,\s(\d{1,4})\sBC',df.infobox[i]['date']):
            df.start_day[i]=0
            stmonth=re.search('(\w{3,9})/(\w{3,9})\s.*,\s(\d{1,4})\sBC',df.infobox[i]['date']).group(1)
            df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
            df.start_year[i]=-int(re.search('(\w{3,9})/(\w{3,9})\s.*,\s(\d{1,4})\sBC',df.infobox[i]['date']).group(3))
            df.end_day[i]=0
            enmonth=re.search('(\w{3,9})/(\w{3,9})\s.*,\s(\d{1,4})\sBC',df.infobox[i]['date']).group(2)
            df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
            df.end_year[i]=df.start_year[i]
        elif re.search('(\d{1,4})\sBC',df.infobox[i]['date']):
            df.start_day[i]=0
            df.start_month[i]=0
            df.start_year[i]=-int(re.search('(\d{1,4})\sBC',df.infobox[i]['date']).group(1))
            df.end_day[i]=0
            df.end_month[i]=0
            df.end_year[i]=df.start_year[i]  
            
    elif re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(1))
        stmonth=re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(2)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(3))
        df.end_day[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(4))
        enmonth=re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(5)
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(6))
    elif re.search('(\d{1,2})\s(\w{3,9})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(1))
        stmonth=re.search('(\d{1,2})\s(\w{3,9})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(2)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(5))
        df.end_day[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(3))
        enmonth=re.search('(\d{1,2})\s(\w{3,9})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(4)
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(5))
    elif re.search('(\d{1,2})–(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=int(re.search('(\d{1,2})–(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(1))
        stmonth=re.search('(\d{1,2})–(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(3)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('(\d{1,2})–(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(4))
        df.end_day[i]=int(re.search('(\d{1,2})–(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(2))
        enmonth=re.search('(\d{1,2})–(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(3)
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=int(re.search('(\d{1,2})–(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(4))
    elif re.search('late\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=0
        df.start_month[i]=0
        df.start_year[i]=int(re.search('late\s(\d{1,4})',df.infobox[i]['date']).group(1))
        df.end_day[i]=df.start_day[i]
        df.end_month[i]=0
        df.end_year[i]=df.start_year[i]
    elif re.search('(\w{3,9})\s(\d{1,2})–(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=int(re.search('(\w{3,9})\s(\d{1,2})–(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(2))
        stmonth=re.search('(\w{3,9})\s(\d{1,2})–(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(1)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('(\w{3,9})\s(\d{1,2})–(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(4))
        df.end_day[i]=int(re.search('(\w{3,9})\s(\d{1,2})–(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(3))
        enmonth=stmonth
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=int(re.search('(\w{3,9})\s(\d{1,2})–(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(4))
    elif re.search('(\w{3,9})\s(\d{1,2})\s–\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=int(re.search('(\w{3,9})\s(\d{1,2})\s–\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(2))
        stmonth=re.search('(\w{3,9})\s(\d{1,2})\s–\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(1)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('(\w{3,9})\s(\d{1,2})\s–\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(5))
        df.end_day[i]=int(re.search('(\w{3,9})\s(\d{1,2})\s–\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(4))
        enmonth=re.search('(\w{3,9})\s(\d{1,2})\s–\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(3)
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=int(re.search('(\w{3,9})\s(\d{1,2})\s–\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(5))
    elif re.search('(\w{3,9})\s(\d{1,4})\s–\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=0
        stmonth=re.search('(\w{3,9})\s(\d{1,4})\s–\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(1)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('(\w{3,9})\s(\d{1,4})\s–\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(2))
        df.end_day[i]=0
        enmonth=re.search('(\w{3,9})\s(\d{1,4})\s–\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(3)
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=int(re.search('(\w{3,9})\s(\d{1,4})\s–\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(4))
    elif re.search('(\d{1,2})\sand\s\d{1,2}\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=int(re.search('(\d{1,2})\sand\s\d{1,2}\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(1))
        stmonth=re.search('(\d{1,2})\sand\s\d{1,2}\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(2)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('(\d{1,2})\sand\s\d{1,2}\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(3))
        df.end_day[i]=int(re.search('(\d{1,2})\sand\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(2))
        enmonth=stmonth
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=df.start_year[i]
    elif re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(1))
        stmonth=re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(2)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[i]['date']).group(3))
        df.end_day[i]=df.start_day[i]
        enmonth=stmonth
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=df.start_year[i]
    elif re.search('\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})\sAD',df.infobox[i]['date']):
        df.start_day[i]=int(re.search('\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})\sAD',df.infobox[i]['date']).group(2))
        stmonth=re.search('\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})\sAD',df.infobox[i]['date']).group(1)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('\s(\w{3,9})\s(\d{1,2}),\s(\d{1,4})\sAD',df.infobox[i]['date']).group(3))
        df.end_day[i]=df.start_day[i]
        enmonth=stmonth
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=df.start_year[i]  
    elif re.search('(Spring|Summer|Winter|Autumn),\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=0
        df.start_month[i]=0
        df.start_year[i]=int(re.search('(Spring|Summer|Winter|Autumn),\s(\d{1,4})',df.infobox[i]['date']).group(2))
        df.end_day[i]=df.start_day[i]
        df.end_month[i]=0
        df.end_year[i]=df.start_year[i] 
    elif re.search('(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=int(re.search('(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(2))
        stmonth=re.search('(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(1)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('(\w{3,9})\s(\d{1,2}),\s(\d{1,4})',df.infobox[i]['date']).group(3))
        df.end_day[i]=df.start_day[i]
        enmonth=stmonth
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=df.start_year[i]    
    elif re.search('(\w{3,9})\sor\s(\w{3,9}),\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=0
        stmonth=re.search('(\w{3,9})\sor\s(\w{3,9}),\s(\d{1,4})',df.infobox[i]['date']).group(1)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('(\w{3,9})\sor\s(\w{3,9}),\s(\d{1,4})',df.infobox[i]['date']).group(3))
        df.end_day[i]=df.start_day[i]
        enmonth=stmonth
        df.end_month[i]=datetime.datetime.strptime(enmonth[:3], '%b').month
        df.end_year[i]=df.start_year[i]
    elif re.search('(\d{1,4})\sor\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=0
        df.start_month[i]=0
        df.start_year[i]=int(re.search('(\d{1,4})\sor\s(\d{1,4})',df.infobox[i]['date']).group(1))
        df.end_day[i]=df.start_day[i]
        df.end_month[i]=0
        df.end_year[i]=df.start_year[i]
    elif re.search('^(\w{3,9}})\s(\d{1,4})',df.infobox[i]['date']):
        df.start_day[i]=0
        stmonth=re.search('^(\w{3,9}})\s(\d{1,4})',df.infobox[i]['date']).group(1)
        df.start_month[i]=datetime.datetime.strptime(stmonth[:3], '%b').month
        df.start_year[i]=int(re.search('^(\w{3,9}})\s(\d{1,4})',df.infobox[i]['date']).group(2))
        df.end_day[i]=df.start_day[i]
        df.end_month[i]=df.start_month[i]
        df.end_year[i]=df.start_year[i]
    else:
        df.start_day[i]='emptyTreated'

/anaconda3/envs/ada/lib/python3.5/site-packages/ipykernel/__main__.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

ValueError: time data 'Spr' does not match format '%b'

In [ ]:
df.start_day[4845]=0
df.start_year

In [284]:
re.search("(\d)+\s(.*)(\d{4})<",df.infobox[7]['date']).group(3)

'1704'

In [108]:
re.search('(\d{1,2})\s(\w{3,9})\s–\s(\d{1,2})\s(\w{3,9})\s(\d{1,4})',df.infobox[33]['date']).group(1)

'23'

In [84]:
a=-int(re.search('\w{3,9}\sor\s\w{3,9},\s(\d{1,4})','July or August, 251').group(1))

In [217]:
df.infobox[3822].keys()

dict_keys(['strength1', 'casualties2', 'strength2', 'conflict', 'commander2', 'commander1', 'image', '55tu55h55\ndate', 'combatant1', 'place', 'casualties1', 'result', 'combatant2'])

In [218]:
if 'date' not in df.infobox[3822].keys():
    print('NotIn')

NotIn

In [124]:
re.search('(\w{3,9})\s(\d{1,4})\s–\s(\w{3,9})\s(\d{1,4})',df.infobox[27250]['date']).group(0)

'May 640 – December 640'

In [291]:
df.start_year[5406]

'empty'

In [246]:
index=len(df['start_day'])-1
while index>0:
    if df['start_day'][index] != 'empty':
        print(index)
        break
    index-=1

5406

In [271]:
index=44
while index<len(df['start_day']):
    if df['start_day'][index] == 'empty':
        print(index)
        break
    index+=1

5407

In [290]:
df.infobox[5406]

{'casualties1': '4 sunk,<br>25 captured \n',
 'casualties2': 'Unknown\n',
 'combatant1': '[[File:Carthage standard.svg|12px]] [[Ancient Carthage|Carthage]]\n',
 'combatant2': '[[File:Spqrstone.jpg|25px]] [[Roman Republic]] [[Marseille|Massalia]]\n',
 'commander1': 'Himilco\n',
 'commander2': '[[Gnaeus Cornelius Scipio Calvus]]\n',
 'conflict': 'Battle of [[Ebro River]]\n',
 'date': ' Spring, 217 BC\n',
 'partof': 'the [[Second Punic War]]\n',
 'place': ' Mouth of [[Ebro River]], present-day [[Spain]]\n',
 'result': 'Decisive [[Roman Republic|Roman]] victory\n',
 'strength1': '40 [[Quinqueremes]]\n',
 'strength2': '55 Quinqueremes and [[Triremes]]\n'}

In [287]:
re.search('(Spring|Summer|Winter|Autumn),\s(\d{1,4})',df.infobox[5406]['date'])

In [268]:
df['start_day'].values_count()

AttributeError: 'Series' object has no attribute 'values_count'

In [285]:
df.start_year[5406]

'empty'

In [206]:
re.search('(\d{1,4})\sBC',df.infobox[3667]['date']).group(1)

'207'

In [224]:
df.start_day[3858]

3

In [278]:
df.loc['start_day'=='emptyTreated'].count()

KeyError: False

In [281]:
df['start_day'].value_counts()

empty           21849
noinfo           2859
emptyTreated      540
0                 172
1                  78
6                  73
25                 69
10                 67
19                 67
8                  66
14                 65
2                  65
11                 65
15                 64
27                 63
24                 63
29                 62
17                 61
3                  61
28                 60
20                 60
9                  60
26                 58
13                 57
18                 56
23                 56
21                 54
22                 54
5                  53
16                 52
12                 49
4                  49
7                  47
30                 46
31                 29
nodate              3
71                  1
73                  1
41                  1
Name: start_day, dtype: int64

In [280]:
5407-2859-540

2008

In [303]:
start, end = parse(df.infobox[2]['date'])

ParseException: Expected stringEnd (at char 9), (line:1, col:10)

In [304]:
start

datetime.datetime(1356, 9, 19, 0, 0)

In [300]:
df.infobox[2]['date']

'9 August 48 BC\n'

In [296]:
end